<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <form action="" method="post">
        {% if full_name %}
        <p>Hello, {{full_name}}, <br/> your login, {{login}}, <br/> your password, {{password}}! </p>
        {% endif %}
        {% if message %}
        <p> username or password is blank </p>
        {% endif %}
        {% if not message and not full_name %}
        <p> username or password wrong </p>
        {% endif %}




	</p>

    </form>
</head>
<body>

</body>
</html>
